.container {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .question-container {
    margin: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px 2px lightgray;
  }
  
  .options-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .options-list li {
    padding: 10px;
    border-radius: 1px;
  }
  
  .correct-answer {
    background-color: rgb(89, 209, 62);
    color: white;
  }
  
  .wrong-answer {
    background-color: rgb(116, 12, 12);
    color: white;
  }
  
  .right-answer {
    background-color: #2f8e45;
    color: white; /* Highlight correct answer in light green */
  }
  
  .pdf-download-container {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .view-btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .view-btn:hover {
    background-color: #0056b3;
  }
  
  .container {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1  {
    color: darkblue;
    text-align: center;
  }